__pycache__
.cursor
.env
.pytest_cache
.vscode
*.7z
*.iml
*.pyc
*.xmind
*.xml
*.zip
dicts/
dicts/cache
examples
lib/degrees-of-lewdity
lib/degrees-of-lewdity-plus
lib/vrelnir_localization-main
logs
tests/playground
tests/test_data
tests/utf8
.env*
!.env.template
