.vscode
lib/vrelnir_localization-main
lib/degrees-of-lewdity-plus
lib/degrees-of-lewdity
dicts/cache
dicts/
__pycache__
.pytest_cache
*.pyc
*.xml
*.iml
*.zip
*.7z
*.xmind
.env
.cursor
examples
tests/utf8
tests/playground
